<div class="container-fluid bg-secondary-subtle h-100">
  <div class="row align-items-center mb-4 pt-4">
    <div class="col-md-12">
      <h1 class="fw-bold">{{ "piezas de lego" | titlecase }}</h1>
    </div>
  </div>
  <div class="row align-items-center mb-4 gap-2">
    <div class="col-md-3">
      <select class="form-select" (change)="getSelectedOption($event)">
        <option value="" selected>Buscar por...</option>
        <option *ngFor="let option of searchOptions" class="search-option">
          {{ option }}
        </option>
      </select>
    </div>
    <div class="col-md-4">
      <div class="d-flex flex-row align-items-center position-relative">
        <input
          #searchInput
          type="text"
          class="form-control"
          (input)="getResultOptions($event)"
        />
        <img
          _ngcontent-ng-c261296637=""
          src="https://img.icons8.com/ios/50/cancel.png"
          alt="cancel"
          class="cancel-icon"
          (click)="searchInput.value = ''"
        />
        @if (resultOptions.length > 0) {
        <div class="results-container">
          @for (result of resultOptions; track $index) {
          <div class="result" (click)="getLegoPieces(result)">
            <p class="fs-5">{{ result }}</p>
          </div>
          }
        </div>
        }
      </div>
    </div>
    <div class="col-md-4">
      <button
        class="btn btn-success w-100"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasForms"
        aria-controls="offcanvasForms"
        (click)="openAddLego()"
      >
        Agregar Nueva Pieza
      </button>
    </div>
  </div>
  <div class="row align-items-center mb-4">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>{{ "img pieza" | titlecase }}</th>
              <th>{{ "img set" | titlecase }}</th>
              @for (header of searchOptions; track $index) {
              <th>{{ header | titlecase }}</th>
              }
              <th></th>
            </tr>
          </thead>
          <tbody>
            @if (!isLoading) { @for (piece of legoData; track $index) {
            <tr>
              <td>
                <div class="image-cell">
                  <img [src]="piece.imgPiece" alt="pieza" />
                </div>
              </td>
              <td>
                <div class="image-cell">
                  <img [src]="piece.imgLego" alt="set" />
                </div>
              </td>
              <td *ngFor="let column of searchOptions">
                {{ piece[column.toLowerCase()] | titlecase }}
              </td>
              <td>
                <div class="btn-cell">
                  <button
                    class="btn btn-primary"
                    (click)="openEditLego(piece)"
                    data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasForms"
                    aria-controls="offcanvasForms"
                  >
                    {{ "editar lego" | titlecase }}
                  </button>
                  <button
                    class="btn btn-danger"
                    (click)="deleteLego(piece.id, piece.lego)"
                  >
                    {{ "eliminar lego" | titlecase }}
                  </button>
                </div>
              </td>
            </tr>
            }} @else {
            <tr>
              <td colspan="11" align="center">
                <div class="loader"></div>
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row align-items-center">
    @if (totalPages > 1) {
    <nav class="d-flex flex-column align-items-center mt-3">
      <ul class="pagination justify-content-center mt-4">
        <li class="page-item" [class.disabled]="page === 1">
          <a class="page-link" (click)="onPageChange(1)">&laquo;</a>
        </li>
        <li class="page-item" [class.disabled]="page === 1">
          <a class="page-link" (click)="onPageChange(page - 1)">&lsaquo;</a>
        </li>

        @for (p of getPages(); track $index) {
        <li class="page-item" [class.active]="p === page">
          <a class="page-link" (click)="onPageChange(p)">{{ p }}</a>
        </li>
        }

        <li class="page-item" [class.disabled]="page === totalPages">
          <a class="page-link" (click)="onPageChange(page + 1)">&rsaquo;</a>
        </li>
        <li class="page-item" [class.disabled]="page === totalPages">
          <a class="page-link" (click)="onPageChange(totalPages)">&raquo;</a>
        </li>
      </ul>

      <div class="page-info mt-2">
        {{ "página" | titlecase }} {{ page }} de {{ totalPages }} |
        {{ "mostrando" | titlecase }} {{ legoData.length }} de
        {{ totalLegos }} resultados
      </div>
    </nav>
    }
  </div>
</div>
<div
  class="offcanvas offcanvas-end"
  tabindex="-1"
  id="offcanvasForms"
  aria-labelledby="offcanvasFormsLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasFormsLabel">
      {{ isAdding ? "Agregar Nuevo Lego" : "Editar Lego" }}
    </h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <div class="row align-items-center mb-4">
      <div class="col-md-12">
        <form [formGroup]="isAdding ? addLegoForm : editLegoForm">
          @for (controlName of addLegoForm.controls | keyvalue; track $index) {
          @if (controlName.key !== 'id') {
          <div class="form-group mb-2">
            <label [for]="controlName.key" class="form-label">
              {{ controlName.key }}
            </label>

            <div class="d-flex flex-column position-relative">
              <input
                type="text"
                class="form-control"
                [formControlName]="controlName.key"
                (input)="getOptionsInForm($event, controlName.key)"
                [attr.data-field]="controlName.key"
              />

              @if (inputFormOptions.length > 0 && activeField ===
              controlName.key) {
              <div class="results-form-container">
                @for (result of inputFormOptions; track $index) {
                <div class="result" (click)="addNewValueToForm(result)">
                  <p class="fs-5">{{ result }}</p>
                </div>
                }
              </div>
              }
            </div>
          </div>
          } }
        </form>
      </div>
    </div>
    <button
      class="btn btn-primary"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
      (click)="isAdding ? addLego() : editLego()"
    >
      {{ isAdding ? "Agregar Nuevo Lego" : "Guardar Cambios" }}
    </button>
  </div>
</div>
